@import "Button";

.manual-button{
  @extend .btn;

  h2{
    font-family: Montserrat, serif !important;
    font-weight: 100;
    font-size: 3em;
    text-align: center;
    margin: 15px auto auto;
  }

  p{
    margin: 0;
  }

  &:hover{
    cursor: pointer;
  }
}
