// colors
$white: #FFFFFF;
$light-grey: #BBBBBB;
$grey: #888888;
$dark-grey: #484848;
$bright-green: #4CAF5A;
$light-green: #326666;
$dark-green: #244442;
$font-color: #1D2125;
$black: #000000;

$absolved: #FFFDBC;
$completed: #BCFFBF;

// transparent colors
$bagde-background: #d3d3d34d;
$modal-background: #00000066;
$transparent: #FFFFFF00;
