@import "@styles/colors";
@import "@styles/styles";

@mixin arrowButton($url, $padding: 3pt) {
  img {
    height: 20pt;
    padding: $padding;
    content: url('#{$url}');
  }
}

#manualModal{
  .modal-content{
    max-width: 800px;
    min-height: 600px;
    text-align: justify;

    #manualFooter{
      @include flex-row;
      width: 100%;
      height: 4em;
    }

    .nav-btn {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border: none;
      background-color: transparent;
      max-width: 70pt;
      width: 20%;
      color: $dark-green;
      font-size: 20px;
      cursor: pointer;
      padding: 5pt;
    }

    #manual-next-bt{
      @include arrowButton('../../../images/manual/next-arrow.svg');
    }

    #manual-next-bt.last-stage{
      @include arrowButton('../../..//images/manual/tick.svg',0);
    }

    #manual-prev-bt{
      color: $dark-grey;
      @include arrowButton('../../../images/manual/prev-arrow.svg');
    }
  }
}
