@import "@styles/colors";

.skill-image {
  max-width: 135px;
  width: 40%;
  margin: 1em;

  border-radius: 50%;

  border-width: 4px;
  border-color: $dark-green;
  border-style: solid;

  background: $light-green;
  background: linear-gradient(90deg, $light-green 0%, $dark-green 100%);

  &.checklist {
    height: 70px;
    width: 70px;
    margin: 2.5px;
  }

  &.achievement {
    min-width: 140px;
    min-height: 140px;
  }
}
