@import "@styles/colors";

.skill-checklist {
  width: 400px;

  @media screen and (max-width: 900px) {
    width: 330px;
  }

  .checklist-header {
    padding: 5pt;
    margin-bottom: 5%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 2px 2px 2px black;
    border-radius: 5% / 15%;
    background-color: $white;
    border: 2px solid $light-green;
    cursor: pointer;

    .checklist-headline{
      margin-right: 5pt;
    }
  }

  /* Chrome - Pfeil ausblenden */
  /* Firefox - Pfeil ausblenden */
  .checklist-header::-webkit-details-marker {
    display: none;
  }

  .checklist-header:first-of-type {
    list-style-type: none;
  }
}
